In [58]:
#Import CSVS
import os
import pandas as pd

CDC = pd.read_csv("Resources/data_Heart.csv")
Food =  pd.read_csv('Resources/FastFoodRestaurants.csv')
Heart_Ache = pd.read_csv('Resources/heart.csv')
Heart_Ache2 = pd.read_csv('Resources/heart_failure_clinical_records_dataset.csv')
Heart_Ache3 = pd.read_csv('Resources/heart_failure.csv')

In [59]:
#Build Databases in POSTGRES
import pandas.io.sql as psql
from sqlalchemy import create_engine
from config import db_password

#Start Engine
db_string_engine = f'postgresql://postgres:{db_password}@127.0.0.1:5432/CDC_Mortality'
engine = create_engine(db_string_engine)


CDC.to_sql(name='State_Hearts',con=engine, if_exists = 'replace')

In [60]:
#Start Engine
db_string_engine = f'postgresql://postgres:{db_password}@127.0.0.1:5432/CDC_Mortality'
engine = create_engine(db_string_engine)


Food.to_sql(name='Fast_Food',con=engine,  if_exists = 'replace')
Heart_Ache.to_sql(name='Heart_Attck',con=engine,  if_exists = 'replace')
Heart_Ache2.to_sql(name='Heart_Attck2',con=engine, if_exists = 'replace')
Heart_Ache3.to_sql(name='Heart_Attck3',con=engine, if_exists = 'replace')

In [61]:
Heart_Ache

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [62]:
dict = {}
for i in list(Heart_Ache.columns):
    dict[i] = Heart_Ache[i].value_counts().shape[0]

pd.DataFrame(dict,index=["unique count"]).transpose()

          unique count
age                 41
sex                  2
cp                   4
trtbps              49
chol               152
fbs                  2
restecg              3
thalachh            91
exng                 2
oldpeak             40
slp                  3
caa                  5
thall                4
output               2

In [63]:
Heart_Ache.describe().transpose()

          count        mean        std    min    25%    50%    75%    max
age       303.0   54.366337   9.082101   29.0   47.5   55.0   61.0   77.0
sex       303.0    0.683168   0.466011    0.0    0.0    1.0    1.0    1.0
cp        303.0    0.966997   1.032052    0.0    0.0    1.0    2.0    3.0
trtbps    303.0  131.623762  17.538143   94.0  120.0  130.0  140.0  200.0
chol      303.0  246.264026  51.830751  126.0  211.0  240.0  274.5  564.0
fbs       303.0    0.148515   0.356198    0.0    0.0    0.0    0.0    1.0
restecg   303.0    0.528053   0.525860    0.0    0.0    1.0    1.0    2.0
thalachh  303.0  149.646865  22.905161   71.0  133.5  153.0  166.0  202.0
exng      303.0    0.326733   0.469794    0.0    0.0    0.0    1.0    1.0
oldpeak   303.0    1.039604   1.161075    0.0    0.0    0.8    1.6    6.2
slp       303.0    1.399340   0.616226    0.0    1.0    1.0    2.0    2.0
caa       303.0    0.729373   1.022606    0.0    0.0    0.0    1.0    4.0
thall     303.0    2.313531   0.612277    0.0    2.0    2.0    3.0    3.0
output    303.0    0.544554   0.498835    0.0    0.0    1.0    1.0    1.0

In [66]:
Heart_Ache3.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [65]:
dict = {}
for i in list(Heart_Ache3.columns):
    dict[i] = Heart_Ache3[i].value_counts().shape[0]

pd.DataFrame(dict,index=["unique count"]).transpose()

                unique count
Age                       50
Sex                        2
ChestPainType              4
RestingBP                 67
Cholesterol              222
FastingBS                  2
RestingECG                 3
MaxHR                    119
ExerciseAngina             2
Oldpeak                   53
ST_Slope                   3
HeartDisease               2

In [67]:
Heart_Ache3.describe().transpose()

              count        mean         std   min     25%    50%    75%    max
Age           918.0   53.510893    9.432617  28.0   47.00   54.0   60.0   77.0
RestingBP     918.0  132.396514   18.514154   0.0  120.00  130.0  140.0  200.0
Cholesterol   918.0  198.799564  109.384145   0.0  173.25  223.0  267.0  603.0
FastingBS     918.0    0.233115    0.423046   0.0    0.00    0.0    0.0    1.0
MaxHR         918.0  136.809368   25.460334  60.0  120.00  138.0  156.0  202.0
Oldpeak       918.0    0.887364    1.066570  -2.6    0.00    0.6    1.5    6.2
HeartDisease  918.0    0.553377    0.497414   0.0    0.00    1.0    1.0    1.0

In [68]:
Heart_Ache3.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [71]:
#LabelEncode Non-binary
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
modeled = Heart_Ache3.copy()
modeled["ChestPainType"] = le.fit_transform(modeled["ChestPainType"])
modeled["RestingECG"] = le.fit_transform(modeled["RestingECG"])
modeled["ExerciseAngina"] = le.fit_transform(modeled["ExerciseAngina"])
modeled["ST_Slope"] = le.fit_transform(modeled["ST_Slope"])
modeled["Sex"] = le.fit_transform(modeled["Sex"])

In [72]:
#Scale the data
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

modeled = data_scaler.fit_transform(modeled)

In [73]:
#View our Data
modeled[:5]

array([[-1.4331398 ,  0.51595242,  0.22903206,  0.41090889,  0.82507026,
        -0.55134134,  0.01725451,  1.38292822, -0.8235563 , -0.83243239,
         1.05211381, -1.11311472],
       [-0.47848359, -1.93816322,  1.27505906,  1.49175234, -0.17196105,
        -0.55134134,  0.01725451,  0.75415714, -0.8235563 ,  0.10566353,
        -0.59607813,  0.89837999],
       [-1.75135854,  0.51595242,  0.22903206, -0.12951283,  0.7701878 ,
        -0.55134134,  1.60121899, -1.52513802, -0.8235563 , -0.83243239,
         1.05211381, -1.11311472],
       [-0.5845565 , -1.93816322, -0.81699495,  0.30282455,  0.13903954,
        -0.55134134,  0.01725451, -1.13215609,  1.21424608,  0.57471149,
        -0.59607813,  0.89837999],
       [ 0.05188098,  0.51595242,  1.27505906,  0.95133062, -0.0347549 ,
        -0.55134134,  0.01725451, -0.5819814 , -0.8235563 , -0.83243239,
         1.05211381, -1.11311472]])

In [81]:
dum = pd.get_dummies(Heart_Ache3, columns=['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope'])
y = dum['HeartDisease']
X = dum.drop('HeartDisease', axis= 1)
from sklearn.model_selection import train_test_split
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
# Creating a StandardScaler instance.
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [82]:
dum.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_F,Sex_M,ChestPainType_ASY,...,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,1,0,0,...,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,0,1,0,...,0,0,0,0,1,1,0,0,0,1
3,48,138,214,0,108,1.5,1,1,0,1,...,0,0,0,1,0,0,1,0,1,0
4,54,150,195,0,122,0.0,0,0,1,0,...,1,0,0,1,0,1,0,0,0,1

In [69]:
#Build our Supervised Learnihng Machine Model but has bumps

#y = Heart_Ache3['HeartDisease']
#X = Heart_Ache3.drop(['Sex','HeartDisease'], axis= 1)

#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X,
#   y,  random_state=1, stratify=y)
#X_train.shape

(688, 10)

In [83]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn import tree
from sklearn.svm import SVC



model.fit(X_train, y_train)
y_pred = model.predict(X_test)
results = pd.DataFrame({
    "Prediction":y_pred,
    "Actual": y_test
}).reset_index(drop=True)
results

     Prediction  Actual
0             0       1
1             1       1
2             0       0
3             0       1
4             0       0
..          ...     ...
225           0       1
226           1       1
227           1       1
228           1       1
229           0       0

[230 rows x 2 columns]

In [84]:
# Creating the decision tree classifier instance.
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn import tree
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [85]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual True", "Actual False"], columns=["Predicted True", "Predicted False"])

cm_df

          Predicted 0  Predicted 1
Actual 0           81           23
Actual 1           24          102

In [86]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [87]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           81           23
Actual 1           24          102

Accuracy Score : 0.7956521739130434
Classification Report
              precision    recall  f1-score   support

           0       0.77      0.78      0.78       104
           1       0.82      0.81      0.81       126

    accuracy                           0.80       230
   macro avg       0.79      0.79      0.79       230
weighted avg       0.80      0.80      0.80       230

In [115]:
#Getting LogisticRegression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=42)
model.fit(X_train,y_train)

C:\Users\spoot\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

In [116]:
#Load Confusion Matrics
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[ 81,  23],
       [ 17, 109]], dtype=int64)

In [117]:
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.8219627594627594

In [118]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.83      0.78      0.87      0.80      0.82      0.67       104
          1       0.83      0.87      0.78      0.84      0.82      0.68       126

avg / total       0.83      0.83      0.82      0.83      0.82      0.67       230

In [ ]:
classification_report_imbalanced